@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Shrikhand&display=swap');

@keyframes coeur{
    0% {
        transform: scale(0);
        color: var(--couleurprimaire-color)
    }
    66% {
        transform: scale(0.8);
        color: var(--couleurprimaire-color)
    }
    100% {
        transform: scale(1);
        color: var(--couleursecondaire-color);
    }
}

html{
    --couleurprimaire-color: #9356DC;
    --couleursecondaire-color: #FF79DA ;
    --couleurtertiaire-color: #99E2D0;
    --couleurfondgrisform-color: #eaeaea;
    --couleurfondgrispresentation-color: #f6f6f6;
    --couleurfondnoirfooter-color: #353535;
}

body{
    font-family: 'Roboto', serif;
    width: 100%;
}

header,
figure,
article header,
.bouton,
.commander{
    display: flex;
    justify-content: center;
    align-items: center;
}

header:not(article header){
    position: fixed;
    width: 100%;
    background-color: hsla(0, 0%, 100%);
    margin: 0;
    padding: 20px 0 20px 0;
    z-index: 1;
}

figure{
    margin: 0;
}

img:not(.logo){
    width: 100%;
    height: 400px;
    object-fit: cover;
}

article{
    position: relative;
    top: -500px ;
    width: 100%;
    padding-bottom: 120px;
    border-radius: 30px 30px 0 0;
    background-color: var(--couleurfondgrispresentation-color);
}

article header{
    justify-content: flex-start;
    align-items: center;
}

h1{
    margin-bottom: 0;
    font-family: 'Shrikhand', serif;
    font-size: 1.8rem;
}

h2{
    font-weight: normal;
    font-size: 1.3rem;
    margin-top: 40px;
}

article header,
h2,
article ul{
    padding: 0 20px 0 20px;
}

li{
    list-style: none;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
}

ul{
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
}

article li,
.animation{
    display: flex;
    align-items: center;
}

article li{
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.boite{
   width: 100%;
}

.animation{
    justify-content: center;
    height: 100px;
    margin: 0;
    border-radius: 0 20px 20px 0;
    background-color: var(--couleurtertiaire-color);
    color: white;
}

footer{
    position: absolute;
    width: 100%;
    top: 1850px;
    background-color: var(--couleurfondnoirfooter-color);
    color: white;
    font-size: 1.3rem;
}

footer h3{
    font-family: 'Shrikhand', Verdana, sans-serif;
    font-weight: normal;
    padding-left: 20px;
}

footer li{
    padding-left: 5px;
    margin-bottom: 10px;
}

a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.logo{
    width: 165px;
}

.fa-arrow-left{
    position: absolute;
    left: 5vw;
    top: 22px;
    font-size: 1.5rem;
    color: black;
}

.complement{   
    display: flex;
    justify-content: space-between;
    width: 85%; 
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fa-heart{
    position: absolute;
    right: 6vw;
    top: 20px;
    font-size: 2rem;
}

.bouton{
    margin-top: 60px;
}

.commander{
    height: 50px;
    width: 220px;
    border-radius: 200px;
    color: white;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.fa-hands-helping{
    font-size: 0.9rem;
}

.fa-utensils, .fa-hands-helping{
    margin-right: 10px;
}

.commander:hover{
    background: linear-gradient(to top left, hsla(267, 66%, 60%, 0.9), hsla(317, 100%, 74%, 0.9));
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.fa-heart:hover{
    transform-origin: 50% 50%;
    animation: coeur linear 500ms 1 forwards;
}

@media  screen and (min-width: 769px){

    footer,
    footer ul{
        display: flex;
        flex-direction: row;
    }

    footer, footer ul{
        flex-direction: column;
        align-items: center;
    }

    footer h3{
        padding: 2vw 0 0 0;
        font-size: 1.8rem;
    }

    article h1{
        width: 50%;
    }

    h1{
        font-size: 2rem;
    }

    .logo{
        width: 250px;
    }

    .fa-arrow-left{
        top: 28px;
        font-size: 1.7rem;
    }
    
}

@media  screen and (min-width: 1281px){

    .logo{
        width: 300px;
    }

    .fa-arrow-left{
        top: 30px;
        font-size: 1.9rem;
    }
}



