@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Shrikhand&display=swap');

@keyframes fa-circle-notch{
    0% {
        color: var(--couleurprimaire-color);                
    }
    33% {
        color: var(--couleursecondaire-color);        
    }
    66% {
        color: var(--couleurtertiaire-color);
        opacity: 1;        
    }
    100%{
        color: var(--couleurtertiaire-color);
        opacity: 0;
    }
}

@keyframes coeur{
    0% {
        transform: scale(1);
        color: transparent
    }
    1% {
        transform: scale(0);
        color: var(--couleurprimaire-color)
    }
    66% {
        transform: scale(0.8);
        color: var(--couleurprimaire-color)
    }
    100% {
        transform: scale(1);
        color: var(--couleursecondaire-color);
    }
}

html{
    --couleurprimaire-color: #9356DC;
    --couleursecondaire-color: #FF79DA ;
    --couleurtertiaire-color: #99E2D0;
    --couleurfondgrisform-color: #eaeaea;
    --couleurfondgrispresentation-color: #f6f6f6;
    --couleurfondnoirfooter-color: #353535;
}

body{
    font-family: 'Roboto', verdana, serif;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header{
    padding: 20px 0 20px 0;
}

form{
    align-items: center;
    height: 50px;
    background-color: var(--couleurfondgrisform-color);
    box-shadow: inset 0px 11px 8px -15px  black;
}

header,
form,
figure,
figcaption,
h1,
.ville,
.soustitre,
.boutonrestaurants,
.bouton,
.fonctionnement li,
.commande{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

figure{
    display: block;
    height: 270px;
    margin: 0 0 5vw 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);    
}

figcaption{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vw;
}

footer{
    padding: 5vw;
    background-color: var(--couleurfondnoirfooter-color);
    color: white;    
}

footer h3{
    font-family: 'Shrikhand', Verdana, sans-serif;
    font-size: 1.3rem;
}

footer ul{
    padding: 0;
    list-style: none;    
}

footer li{
    margin-bottom: 10px;
}

footer a{
    color: white;
    font-size: 1.3rem;
}

.logo{
    width: 165px;
}

::placeholder{
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
    background-color: var(--couleurfondgrisform-color);
}

.presentation:not(form){
    height: 286px;
    background-color: var(--couleurfondgrispresentation-color);    
}

.ville{
    height: 30px;
    padding: 0;
    border: none;
    font-weight: bold;
    font-family: 'Roboto';  
    background-color: var(--couleurfondgrisform-color);
}

.bouton{
    height: 50px;
    width: 220px;
    border-radius: 200px;
    color: white;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.fonctionnement{
    margin: 5vw 5vw 15vw 5vw;
}

.fonctionnement ul{
    width: 100%;
    padding: 0;
}

.fonctionnement li{
    justify-content: flex-start;
}

.fonctionnement li:not(.commande){  
    margin: 0 0 20px 0;
    height: 75px;
    background-color: var(--couleurfondgrispresentation-color);
    border-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);    
    font-weight: bold;
}

.commande{   
    margin: 0 0 20px 0;
    height: 75px;
    border-radius: 25px;
    background-color: hsla(267, 66%, 60%, 0.2);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);    
    font-weight: bold;
}

.fa-store{
    color: var(--couleurprimaire-color);
}

.nombre{
    position: relative;
    margin: 0 6vw 0 -10px;
    padding: 1px 5px 0 5px;
    background-color: var(--couleurprimaire-color);
    color: white;
    border: 1px solid var(--couleurprimaire-color);
    border-radius: 200px; 
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store{
    margin-right: 10vw;
}

.restaurants{
    padding: 8vw 5vw 5vw 5vw;
    background-color: var(--couleurfondgrispresentation-color);
}

.titrerestaurants{
    margin-bottom: 10vw;
}

.nomrestaurants{
    margin: 10px 0 0 0;
}

.nouveau{
    position: relative;
    left: 70%;
    bottom: 260px;
    padding: 1vw 2vw 1vw 2vw;
    border: 2px solid var(--couleurtertiaire-color);
    border-radius: 5px;    
    background-color: var(--couleurtertiaire-color);
    color: #008766;
}

.fa-heart{
    position: absolute;
    right: 10vw;
    font-size: 2rem;
    background-color: white;
}

.fa-hands-helping{
    font-size: 0.9rem;
}

.fa-utensils,
.fa-hands-helping{
    margin-right: 10px;
}

img:not(.logo){
    height: 175px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.bouton:hover{
    background: linear-gradient(to top left, hsla(267, 66%, 60%, 0.9), hsla(317, 100%, 74%, 0.9));
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.fa-heart:hover{
    transform-origin: 50% 50%;
    animation: coeur linear 500ms 1 forwards;
}

footer a:hover{
    text-decoration: underline;
}

.loader{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    animation: fa-circle-notch  3s 1 both;
}   

.fa-circle-notch{
    font-size: 150px;   
    animation: fa-spin linear 500ms infinite;  
}

@media screen and (min-width: 769px){    
    .fonctionnement ul,
    footer,
    footer ul{
        display: flex;
        flex-direction: row;
    }

    footer, footer ul{
        flex-direction: column;
        align-items: center;
    }

    h1{
        margin-top: 50px;
        font-size: 1.8rem;
    }

    .logo{
        width: 250px;
    }

    .bouton{
        height: 60px;
        width: 300px;
    }

    .fonctionnement{
        margin: 5vw;
    }

    .fonctionnement ul{
        justify-content: space-between;
        width: 100%;
    }

    .fonctionnement li{
        width: 31%;
    }

    .nombre{
        margin: 0 1vw 0 -10px;
    }

    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store{
        margin-right: 1vw;
    }

    .restaurants{
        padding: 5vw;
    }

}

@media screen and (min-width: 1281px){
    
    footer h3{
        font-size: 2rem;
    }
    
    .logo{
        width: 350px;
    }

    .fonctionnement{
        margin: 0;
        padding: 2vw;
    }

    .fonctionnement h2,
    .titrerestaurants{
        font-size: 1.8rem;
    }

    .fonctionnement li{
        font-size: 1.3rem;
    }

    .restaurants{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8vw 2vw 1vw 2vw;
    }

    .titrerestaurants{
        position: absolute;
        top: 73vh;
        margin: 0;
    }

    img:not(.logo){
        width: 22vw;
        overflow: hidden;
        object-fit: cover;
    }

    figure{
        width: 100%;
    }

    figcaption{
        padding: 0 0 0 2vw;
    }

    .nouveau{
        left: 60%;
        padding: 5px 10px 5px 10px;
    }

    .fa-heart{
        position: relative;
        left: 50%;
    }
}
    
