@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Shrikhand&display=swap');

@keyframes fa-circle-notch{
    0% {
        opacity: 1;
        color: var(--couleur-primaire);            
    }
    40% {
        color: var(--couleur-secondaire);        
    }
    80% {
        color: var(--couleur-tertiaire);
        opacity: 1;        
    }
    98% {
        color: var(--couleur-tertiaire);
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        color: var(--couleur-tertiaire);
        opacity: 0;
        transform: translateY(-999999999px);
    }
}

@keyframes fond{
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes nouveau{
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menu {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html{
    --couleur-primaire: #9356DC;
    --couleur-secondaire: #FF79DA ;
    --couleur-tertiaire: #99E2D0;
    --couleur-fond-gris-form: #eaeaea;
    --couleur-fond-gris-presentation: #f6f6f6;
    --couleur-fond-noir-footer: #353535;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', verdana, serif;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

footer a:hover{
    text-decoration: underline;
}

ul {
    list-style: none;
}

header,
form,
.fonctionnement li,
figure,
figcaption,
h1,
.ville,
.soustitre,
.bouton-restaurants,
.bouton,
.commande{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    padding: 20px 0 20px 0;
}

form{
    align-items: center;
    height: 50px;
    background: var(--couleur-fond-gris-form);
    box-shadow: inset 0px 11px 8px -15px  black;
}

.fonctionnement ul{
    width: 100%;
    padding: 0;
}

.fonctionnement li{
    justify-content: flex-start;  
    height: 75px;
    margin: 0 0 20px 0;
    border-radius: 25px;
    font-weight: bold;
    background: var(--couleur-fond-gris-presentation);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);    
}

figure{
    display: block;
    height: 270px;
    margin: 50px 0 5vw 0;
    border-radius: 20px;
    background: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);    
}

img:not(.logo){
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

figcaption{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vw;
}

footer{
    padding: 5vw;
    background: var(--couleur-fond-noir-footer);
    color: white;    
}

footer h3{
    font-family: 'Shrikhand', Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
}

footer ul{
    padding: 0;   
}

footer li{
    margin-bottom: 10px;
}

footer a{
    font-size: 1.3rem;
    color: white;
}

.logo{
    width: 165px;
}

::placeholder{
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
    background: var(--couleur-fond-gris-form);
}

.presentation:not(form){
    height: 286px;
    background: var(--couleur-fond-gris-presentation);    
}

.ville{
    height: 30px;
    padding: 0;
    border: none;
    font-weight: bold;
    font-family: 'Roboto';  
    background: var(--couleur-fond-gris-form);
}

.bouton{
    width: 220px;
    height: 50px;
    border-radius: 200px;
    color: white;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.fonctionnement{
    margin: 5vw 5vw 15vw 5vw;
}

.nombre{
    position: relative;
    margin: 0 6vw 0 -10px;
    padding: 1px 5px 0 5px;
    border: 1px solid var(--couleur-primaire);
    border-radius: 200px;
    background: var(--couleur-primaire);
    color: white; 
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store{
    margin-right: 10vw;
}

.fonctionnement li:hover .icone,
.fonctionnement li:focus .icone{
    color: var(--couleur-primaire);
}

.fonctionnement li:hover,
.fonctionnement li:focus {
    background: hsla(267, 66%, 60%, 0.2);;
}

.restaurants{
    padding: 8vw 5vw 5vw 5vw;
    background: var(--couleur-fond-gris-presentation);
}

.titre-restaurants{
    margin-bottom: 10vw;
}

.nom-restaurants{
    margin: 10px 0 0 0;
}

.nouveau{
    position: relative;
    left: 70%;
    bottom: 260px;
    padding: 1vw 2vw 1vw 2vw;
    border: 2px solid var(--couleur-tertiaire);
    border-radius: 5px;    
    background: var(--couleur-tertiaire);
    color: #008766;
    animation: nouveau 1.5s infinite;
}

.coeur-vide {
    position: absolute;
    right: 8.5vw;
    z-index: 1;
}

.coeur-plein {
    position: absolute;
    right: 0;
    top: -1px;
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: 0.8s ease;
}

.coeur-vide:hover .coeur-plein,
.coeur-vide:focus .coeur-plein {
    transform: scale(0.92);
    opacity: 1;
}

.fa-hands-helping{
    font-size: 0.9rem;
}

.fa-utensils,
.fa-hands-helping{
    margin-right: 10px;
}

.bouton:hover,
.bouton:focus {
    background: linear-gradient(to top left, hsla(267, 66%, 60%, 0.9), hsla(317, 100%, 74%, 0.9));
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.loader{
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -75px 0 0 -75px;
    animation: fa-circle-notch  3s 1 both;
    overflow: hidden;
}   

.fa-circle-notch{
    font-size: 150px;   
    animation: fa-spin linear 500ms infinite;
}

.opacite{
    animation: fond 3s linear 1 both;
}

@media screen and (min-width: 769px){    
    
    .fonctionnement ul,
    footer,
    footer ul{
        display: flex;
        flex-direction: row;
    }
    
    .fonctionnement ul{
        justify-content: space-between;
        width: 100%;
    }

    .fonctionnement li{
        width: 31%;
    }

    footer, footer ul{
        flex-direction: column;
        align-items: center;
    }

    h1{
        margin-top: 50px;
        font-size: 1.8rem;
    }

    .logo{
        width: 250px;
    }

    .bouton{
        width: 300px;
        height: 60px;
    }

    .fonctionnement{
        margin: 5vw;
    }

    .nombre{
        margin: 0 1vw 0 -10px;
    }

    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store{
        margin-right: 1vw;
    }

    .restaurants{
        padding: 5vw;
    }
}

@media screen and (min-width: 1281px){
    
    img:not(.logo){
        width: 22vw;
        overflow: hidden;
        object-fit: cover;
    }

    figure{
        width: 100%;
    }

    figcaption{
        padding: 0 0 0 2vw;
    }

    .fonctionnement h2,
    .titre-restaurants{
        font-size: 1.8rem;
    }

    .fonctionnement li{
        font-size: 1.3rem;
    }

    footer h3{
        font-size: 2rem;
    }
    
    .logo{
        width: 350px;
    }

    .fonctionnement{
        margin: 0;
        padding: 2vw;
    }

    .restaurants{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5vw 2vw 1vw 2vw;
    }

    .titre-restaurants{
        position: absolute;
        bottom: auto;
        margin: 0;
    }

    .nouveau{
        left: 60%;
        padding: 5px 10px 5px 10px;
    }

    .coeur-vide{
        position: relative;
        left: 17vw;
    }

    .lieu{
        margin: 0;
    }
}

/*========================menu========================*/

.menu{
    font-family: 'Roboto', serif;
    width: 100%;
}

.menu header:not(.titre-header){
    position: fixed;
    width: 100%;
    background-color: hsla(0, 0%, 100%);
    margin: 0;
    padding: 20px 0 20px 0;
    z-index: 1;
}

.menu h2{
    text-transform: uppercase;
}

article{
    position: relative;
    top: 70px ;
    width: 100%;
    padding-bottom: 120px;
    border-radius: 30px 30px 0 0;
    background-color: var(--couleur-fond-gris-presentation);
}

article h1{
    margin-bottom: 0;
    font-family: 'Shrikhand', serif;
    font-size: 1.7rem;
}

article header{
    justify-content: flex-start;
    align-items: center;
}

article section,
.boite{
    display: flex;
    flex-direction: column;
}

article header,
article h2,
article ul{
    padding: 0 20px 0 20px;
}

article h2{
    margin-bottom: 5px;
}

.soulignement{
    justify-content: flex-start;
    width: 60px;
    margin-left: 20px;
    border: 2px solid var(--couleur-tertiaire);
    background: var(--couleur-tertiaire);
}

.menu figure{
    margin: 0;
}

.menu img:not(.logo){
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.menu .coeur-vide{
    top: 15px;
}

.menu li{
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    transition: transform 1s;
}

.menu ul{
    margin-bottom: 20px;
    padding: 20px 20px 5px 20px;
}

.menu article li,
.menu .animation{
    display: flex;
    align-items: center;
}

.menu article li{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.menu .boite{
    width: 90%;
    transition: width 0.4s linear;
}

.menu h3{
    margin-bottom: 5px;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

b{
    position: relative;
    top: 15px;
}

.menu .animation{
    justify-content: center;
    position: absolute;
    right: 18px;
    height: 80px;
    width: 0px;
    margin: 0;
    border-radius: 0 20px 20px 0;
    background-color: var(--couleur-tertiaire);
    color: white;
    transition: width 0.5s ease-in-out;
    opacity: 0;
    font-size: 2rem;
}

.complement{
    width: 80%;
    margin-top: 0;
    padding-right: 50px;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

article li:hover{
    cursor: pointer;
}

article li:hover .animation,
article li:focus .animation{
    width: 20%;
    opacity: 1;
}

article li:hover .boite,
article li:focus .boite{
    width: 60%;
}

article li:hover .fa-check-circle,
article li:focus .fa-check-circle {
    animation: rotation 1s forwards;
}

.menu footer{
    position: absolute;
    top: 1800px;
    width: 100%;
    padding: 0;
    font-size: 1.3rem;
    background-color: var(--couleur-fond-noir-footer);
    color: white;
}

.menulanote footer{
    top: 1900px;
}

.menu footer h3{
    padding-left: 20px;
    font-family: 'Shrikhand', Verdana, sans-serif;
    font-weight: normal;    
}

.menu footer ul{
    padding-top: 5px;
}

.menu footer li{
    margin-bottom: 10px;
    padding-left: 5px;
}

.menu footer a:hover,
.menu footer a:focus{
    text-decoration: underline;
}

.menu a{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.fa-arrow-left{
    position: absolute;
    left: 5vw;
    top: 22px;
    font-size: 1.5rem;
    color: black;
}

.menu .bouton-menu,
.menu .commander{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .bouton-menu{
    margin-top: 60px;
}

.menu .commander{
    width: 220px;
    height: 50px;
    border-radius: 200px;
    color: white;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.menu .commander:hover,
.menu .commander:focus{
    background: linear-gradient(to top left, hsla(267, 66%, 60%, 0.9), hsla(317, 100%, 74%, 0.9));
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.entrees .effet-entree-1,
.plats .effet-entree-1,
.desserts .effet-entree-1 {
    animation: menu 1s linear 0ms 1;
}

.entrees .effet-entree-2,
.plats .effet-entree-2,
.desserts .effet-entree-2 {
    animation: menu 1s linear 200ms 1;
}

.entrees .effet-entree-3,
.plats .effet-entree-3,
.desserts .effet-entree-3 {
    animation: menu 1s linear 400ms 1;
}

.entrees .effet-entree-4,
.plats .effet-entree-4,
.desserts .effet-entree-4 {
    animation: menu 1s linear 600ms 1;
}

@media  screen and (min-width: 769px){

    .menu h1{
        font-size: 2rem;
    }

    .menu footer h3{
        padding: 0;
        font-size: 1.8rem;
    }

    .menu footer{
        top: 1820px;
    }

    .menulanote footer{
        top: 1950px;
    }

    .fa-arrow-left{
        top: 28px;
        font-size: 1.7rem;
    }

    .menu .coeur-vide{
        top: 50px;
    }
}

@media  screen and (min-width: 1281px){

    
    b,
    .menu h2,
    .menu h3{
        font-size: 1.5rem;
    }

    .menu footer{
        top: 2050px;
    }

    .menulanote footer{
        top: 2200px;
    }

    .fa-arrow-left{
        top: 38px;
        font-size: 2rem;
    }

    .menu .coeur-vide{
        position: relative;
        left: 70vw;
        top: 30px;
        font-size: 3rem;
    }

    .menu .animation{
        height: 100px;
        font-size: 2.2rem;
    }

    .complement{
        width: 100%;
        padding-right: 50px;
        font-size: 1.3rem;
    }

    article li:hover .animation{
        width: 20%;
        opacity: 1;
    }

    article li:hover .boite{
        width: 77%;
    }
}